.fade-in {
    opacity: 0;
    animation: fadeIn 0.6s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.visualizacao-admin {
    display: flex;
    justify-content: center;
    padding: 32px;

}

.cards-admin {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.card-admin {
    background: white;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    width: 260px;
    text-align: center;
    transition: transform 0.2s ease;
}

.chamado-card-admin:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;

}

.card-admin .title-h3 {
    margin-top: 8px;
    font-size: 1.2rem;
}

.card-admin .title-h3:last-child {
    color: var(--verde) !important;
}

.card-admin .data {
    color: var(--cinza);
    font-size: 0.9rem;
    margin-top: 8px;
    font-weight: 700;
}

.card-admin .info {
    margin-top: 6px;
    font-size: 0.8em;
    font-weight: 500;
}

.chamados-page {
    padding: 2rem 3rem;
}

.titulo-chamados {
    font-size: 5rem;
    color: var(--azul-raf);
    font-weight: 700;
    text-align: left;
}

.titulo-chamados span {
    font-size: 2rem;
    font-weight: 1000;
    color: var(--azul-bondi);
}

.data-separador {
    margin-top: 2rem;
    color: var(--azul-bondi);
    font-size: 1.4rem;
    font-weight: 700;
    text-align: left;
}

.lista-chamados {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.chamado-card-admin {
    background: #fff;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    /* três colunas iguais */
    align-items: center;
    border: 2px solid transparent;
    transition: transform 0.3s ease;
}

.chamado-esquerda {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.chamado-info-meio {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.chamado-acoes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    align-items: center;
    margin-left: 2rem;
}

.chamado-acoes .buttons {
    display: flex;
    gap: 6px;
}


.setor-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--azul-bondi);
    object-fit: cover;
}

.chamado-info strong {
    font-size: 1.1rem;
}

.chamado-info p {
    margin: 0.2rem 0;
    font-size: 0.8rem;
}

.chamado-info {
    color: #000;
    text-align: left;
}


.aberto-por {
    color: var(--cinza);
    font-size: 0.9rem;
}

.chamado-acoes button {
    border: none;
    padding: 0.4rem 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.btn-historico {
    background: var(--laranja);
}


.btn-finalizar {
    background: var(--verde);
}

.btn-finalizar:hover {
    background: #6fc36f;
}
.btn-delete {
  background-color: #ff4b4b;
  border: none;
  padding: 6px 8px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.btn-delete:hover {
  background-color: #d63333;
}

/* Card com borda vermelha quando não visualizado */
.chamado-card-admin.nao-visualizado {
    border: 2px solid var(--vermelho);
}

/* Botão Eye - sempre azul, apenas muda opacidade */
.btn-visualizar {
  background-color: #007bff;
  border-color: #007bff;
  transition: opacity 0.3s;
}


/* Status styles - CORRIGIDO */
.status {
    font-size: 0.85rem;
    font-weight: bold;
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    color: var(--branco);
}

.status.não-visualizado {
    background: var(--amarelo);
    color: #000;
}

.status.em-andamento {
    background: var(--laranja);
}

.status.nao-resolvido {
    background: var(--vermelho);
}

.status.resolvido {
    background: var(--verde);
}
.layout-inferior {
    display: flex;
}

.conteudo-principal {
    flex: 1;
    margin: 0 40px;
}

.modal-overlay-admin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    width: 450px;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.modal-imagens {
    width: 650px;
}

.modal-close {
    background: transparent;
    border: none;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.btn-imagens {
    background: var(--grad-roxo);
    color: white;
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn-resolvido,
.btn-nao-resolvido {
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    color: white;
}

.btn-resolvido {
    background-color: #4caf50;
}

.btn-nao-resolvido {
    background-color: #d32f2f;
}

.imagens-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.imagens-container img {
    width: 48%;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.imagens-container img:hover {
    transform: scale(1.05);
}

/* Responsividade - ajusta o recuo conforme o aside encolhe */
@media (max-width: 1075px) {
   .titulo-chamados{
    font-size: 3rem;
    margin: 0;
   }
   .titulo-chamados span{
    font-size: 1rem;
   }
   .chamados-header{
    margin: 0px !important;
   }
   .chamado-info p, .chamado-info strong{
    font-size: 0.8em;
   }
   .aberto-por, .chamado-info-meio strong{
    font-size: 0.6rem;
   }
   .status{
    padding: 0.3rem 0.8rem !important;
    font-size: 0.5rem;
   }
   .chamado-acoes{
    margin: 0px;
   }
}
@media (max-width: 1024px) {
    .setor-img {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        border: none;
    }
    .chamado-info p, .chamado-info strong{
    font-size: 0.6em;
    letter-spacing: 0px;
    gap: 0px;
    display: flex;
   }
   .aberto-por, .chamado-info-meio strong{
    font-size: 0.5rem;
   }
}

@media (max-width: 768px) {
    .conteudo-principal{
        margin: 0;
    }

}

@media (max-width: 480px) {
  .chamado-info-meio{
    display: none;
  }
  .chamado-acoes{
    min-width: 100px;
  }
  .chamado-info strong{
    width: auto;
  }
  .chamado-esquerda{
    min-width: 200px;
  }
  .chamado-card-admin{
    /* width: 340px; */
    height: 80px;
  }
  .container-chamado{
    width: 90%;
    margin: auto;
  }
  .icone-olho{
    width: 15px;
    height: 15px;
  }
  .status{
    font-size: 0.4rem;
  }
  .page{
    padding: 1rem;
  }
  .chamados-header{
    display: flex;
    gap: 0px;
    letter-spacing: 0px;
  }
  .modal{
    padding: 15px;
    width: 300px;
  }
  .modal h2{
    font-size: 1.2rem;
    margin-bottom: 6%;
  }
  .modal p{
    font-size: 0.7rem
  }
  .modal button{
    font-size: 0.6rem;
    padding: 3px 8px;
  }
}
@media (max-width: 400px) {
    .titulo-chamados{
        font-size: 2.2rem;
        margin: 1rem;
    }
    .page{
        padding: 0.5rem;
    }
    .container-chamado{
        width: 100%;
    }
}