.visualizacao-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    margin-top: 0px;
    min-height: 52vh;

}

.abrir-chamado {
    margin-bottom: 20px;
}

.card-chamados {
    margin-top: 0px;
}

.visualizacao-usuario {
    background: var(--azul-raf);
}

.btn-abrir {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--azul-claro);
    color: var(--branco);
    border: none;
    border-radius: 20px;
    padding: 12px 36px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-abrir:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

.card-chamados {
    background: var(--branco);
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.217);
    width: 100%;
    max-width: 1500px;
    padding: 24px;
    transition: all 0.3s ease;
    margin: 20px 0;
}

.card-chamados:last-child {
    box-shadow: 0 4px 10px rgba(24, 173, 4, 0.237);

}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-card {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--azul-raf);
}

.titulo-card span {
    font-size: 1.2rem;
    margin-left: 6px;
}

.icone-toggle {
    cursor: pointer;
    color: var(--azul-raf);
    transition: 0.2s;
}

.icone-toggle:hover {
    color: var(--azul-bondi);
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 16px 0;
}

.quantidade-chamados {
    color: var(--azul-raf);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
}

.filtros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 24px;

}

.filtro {
    display: flex;
    align-items: center;
    gap: 6px;
}

.filtro .label {
    color: var(--cinza);
    font-weight: 500;
}

.filtro .valor {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--azul-raf);
    font-weight: 600;
    cursor: pointer;
}

.filtro select {
    border: none;
    background: transparent;
    color: var(--azul-raf);
    font-weight: 600;
    cursor: pointer;
}



.lista-chamados {
    display: flex;
    flex-direction: column;
    gap: 16px;
}





.icone-toggle {
    transition: transform 0.3s ease;
}

.icone-toggle.ativo {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .filtros {
        flex-direction: column;
        gap: 10px;
    }
}