.aside-dev {
    width: 280px;
    background-color: #1E4762;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 0px;
    min-height: 88vh;
    height: auto;
    position: relative;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list li {
    display: flex;
    align-items: center;
    padding: 12px 40px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.menu-list li .icone {
    font-size: 20px;
    margin-right: 12px;
}

.menu-list li .text {
    font-size: 16px;
    font-weight: 500;
}

.menu-list li.active {
    opacity: 1;
    color: #fff;
}

.menu-list li.inactive {
    opacity: 0.5;
    color: #fff;
}

.menu-list li:hover {
    opacity: 0.8;
}

.logo-bottom {
    padding: 20px;
    text-align: center;
}

.logo-bottom img {
    width: 160px;
}

/* RESPONSIVIDADE */
@media (max-width: 1024px) {
    .aside-dev {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .chamados-page{
        margin-bottom: 80px;
    }
  /* O aside vira um "footer fixo" na parte inferior */
  .aside-dev {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--azul-raf); /* ou a cor padrão do seu menu */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.6rem 0;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    z-index: 999; /* garante que fique acima do conteúdo */
    max-height: 100px !important;
    height: 70px;
    min-height: 50px;
    justify-content: center;
  }

  /* Oculta ou reorganiza elementos desnecessários */
  .aside-dev .logo-top {
    display: none;
  }

  .aside-dev .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .aside-dev .menu-list li {
    margin: 0;
    padding: 0;
  }

  .menu-list li .text {
    font-size: 12px;
  }

  .logo-bottom {
    display: none; /* evita duplicar o logo no rodapé */
  }

  /* Ícones menores e centralizados */
  .menu-list li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }

  
}

@media (max-width: 480px) {
    .aside-dev {
        padding: 20px 0;
    }

    .menu-list li {
        justify-content: center;
        padding: 16px 0;
    }


    .menu-list li .icone {
        font-size: 24px;
    }

    
}